*,
*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__btn{
    font-size: 18px;
    padding: 10px 58px;
    border-radius: 16px;
    background-color: #A45D5D;
    color: white;
    border: none;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.content__btn:hover{
    background-color: #6A2020;
}