.boton1{
    font-size: 18px;
    padding: 10px 58px;
    border: solid;
    border-radius: 16px ;
    color: #A45D5D;
    text-align: center;
}
.boton2{
    font-size: 18px;
    padding: 10px 58px;
    border: solid;
    border-radius: 16px ;
    color: #6A2020;
    text-align: center;
}