.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border: none;
    padding: 10px 58px;
    border-radius: 30px;
    background-color: #A45D5D;
    color: white;    
}

.button:hover {
    background-color: #6A2020;
}

