*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn {
    padding: 10px 58px;
    color: #ffffff;
    border: none;
    border-radius: 16px;
    font-size: 18px;
    border: 16px;
    cursor: pointer;
    transition: background-color ease-in-out 0.3s;
}

.btn-brown {
    background-color: #A45D5D;
}

.btn-brown:hover {
    background-color: #6A2020;   
}